body {
/*	font-family: "PT Sans";*/
	font-size: 18px;
	background-color: rgb(245, 245, 245);
}

table, th, td {
	border: 1px outset;
}

table {
	width: 100%;
	height: 100%;
}

td {
	width: 33%;
	height: 33%;
}

button {
	background-color: lightgrey;
	margin: 4px;
	width: 80px;
	height: 32px;
}

.wittelink {
	color: white;
}

.zwartelink {
	color: black;
}

.groter {
	font-size: 200%;
}

.container {
	background-image: url("wolken.png");
	background-repeat: no-repeat;
	background-size: , 100%;
	margin: auto;
	margin-top: 50px;
	height: 600px;
	width: 600px;
	perspective: 1000px;
	background-color: white;
	border: 1px solid;
	border-radius: 5px;
}

.cube {
	position: relative;
	top: 100px;
	left: 150px;
	width: 300px;
	height: 300px;
	user-select: none;
	cursor: grab;
	transition: transform 0.5s ease;
	transform-style: preserve-3d;
}

.cube:hover {
	cursor: grab;
}

.face {
	padding: 0px;
	position: absolute;
	width: 300px;
	height: 300px;
	text-align: center;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: white;
	font-size: 13px;
}

/* Achterkant */
.achterkant { 
	transform: translateZ(-150px) scaleX(-1);
	background: red;
}

/* Rechterkant */
.rechterkant {
	transform: rotateY(90deg) translateZ(150px);
	background: yellow;
	color: black;
}

/*  Voorkant */
.voorkant {
	transform: translateZ(150px);
	background: white;
	color: black;
}

/* Linkerkant */ 
.linkerkant {
	transform: rotateY(-90deg) translateZ(150px);
	background: blue;
}

/* Bovenkant */
.bovenkant {
	transform: rotateX(90deg) translateZ(150px);
	background: green;
}

/* Onderkant */
.onderkant {
	transform: rotateX(-90deg) translateZ(150px);
	background: orange;
}
