body {
	background-image: url("WolkendekKubus.png");
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
	<!-- height: 300px; -->
}

.groter {
	font-size: 200%;
}

table, th, td {
	border: 1px outset;
}

table {
	width: 100%;
	height: 100%;
}

td {
	width: 33%;
	height: 33%;
}

h1, h2, h3, hr {
	text-align: center;
	width: 67%;
	margin: auto;
	background-color: white;
	opacity: 80%;
}

p {
	width: 67%;
	margin: auto;
	background-color: white;
	opacity: 80%;
}

.handleiding{
	cursor: pointer;
}

.toggle {
	display: block;
}

.wittelink {
	color: white;
}

.zwartelink {
	color: black;
}

.description {
	float: left;
}

.container {
	margin: 50px auto;
	width: 300px;
	height: 300px;
	margin-top: 8vw;
	perspective: 1000px;
}

.cube {
	position: relative;
	width: 100%;
	height: 100%;
	user-select: none;
	cursor: grab;
	transition: transform 0.5s ease;
	transform-style: preserve-3d;
}

.cube:hover {
	cursor: grab;
}

.face {
	background-image: url("stempel-thematiendaagse-wit_transparante_achtergrond.png");
	padding: 0px;
	position: absolute;
	width: 300px;
	height: 300px;
	text-align: center;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: white;
	font-size: 12px;
}

/* Achterkant */
.achterkant { 
	transform: translateZ(-150px) scaleX(-1);
	background: red;
}

/* Rechterkant */
.rechterkant {
	transform: rotateY(90deg) translateZ(150px);
	background: yellow;
	color: black;
}

/*  Voorkant */
.voorkant {
	transform: translateZ(150px);
	background: white;
	color: black;
}

/* Linkerkant */ 
.linkerkant {
	transform: rotateY(-90deg) translateZ(150px);
	background: blue;
}

/* Bovenkant */
.bovenkant {
	transform: rotateX(90deg) translateZ(150px);
	background: green;
}

/* Onderkant */
.onderkant {
	transform: rotateX(-90deg) translateZ(150px);
	background: orange;
}
